<!doctype html>
<html lang="en" ng-app="myEmporium">
<head>
    <meta charset="UTF-8">
    <title>Angular One</title>
</head>
<body ng-controller="inventoryCtrl">

<h2>Ryan's Emporium of Worthless Crap</h2>

<h3>Add new item:</h3>

<label>Name</label>
<input ng-model="newItem.name" type="text" />

<br />

<label>Price</label>
<input ng-model="newItem.price" type="number" />

<br />

<button ng-click="addItem()">Add Awesome Item</button>

<br>

<input ng-model="searchTerm.name" type="text">
<ul>
    <li ng-if="item.name !== hiddenItem" ng-repeat="item in items | orderBy: 'price' | filter: searchTerm track by $index">
    	{{ item.name }}, Price: {{ item.price | currency }} 
    	<span ng-click="removeItem( $index )">X</span>
    </li>
</ul>

<ul>
	<li ng-repeat="item in items">
		{{ item.name }}
		<button ng-click="hideItem( item.name )">Hide this item</button>
	</li>
</ul>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./inventoryCtrl.js"></script>
</body>
</html>